<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/common/user-info.css}">
    <link rel="stylesheet" th:href="@{/css/acc_task/list.css}" />
    <link rel="stylesheet" th:href="@{/css/common/navigate-bar.css}" />
    <link rel="stylesheet" th:href="@{/css/common/foot.css}" />
    <title>任务列表</title>
</head>
<body>
<div th:replace="common/common::user-info"></div>

    <table class="task-list">
        <caption>
            <div>我接收的任务</div>
            <div id="msg1" th:if="${#request.getParameter('msg') != null}" th:text="${#request.getParameter('msg')}"></div>
            <div id="msg2" th:if="${msg != null}" th:text="${msg}"></div>
        </caption>
        <thead>
            <tr>
                <th>序号</th>
                <th>发布者</th>
                <th>标题</th>
                <th>描述</th>
                <th>报酬</th>
                <th>类型</th>
                <th>状态</th>
                <th>年级限制</th>
                <th>年龄限制</th>
                <th>性别限制</th>
                <th>专业限制</th>
                <th>前往</th>
                <th>放弃</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="taskTO, taskTOStat : ${pageBean.list}">
                <td th:text="${taskTOStat.index + 1}"></td>
                <td th:text="${taskTO.publisher.name}"></td>
                <td th:text="${taskTO.title}"></td>
                <td th:text="${taskTO.description}"></td>
                <td th:text="${taskTO.payment}"></td>
                <td th:text="${taskTO.type}"></td>
                <!-- 对于这两种任务，从用户的角度看，isDone分别为false，true时分别代表待完成，已完成 -->
                <td th:text="${taskTO.isDone ? '已完成' : '待完成'}"></td>
                <!-- 注意，td标签不能通过th:if属性来确定要不要显示，因为td标签必须要有（即使ageLimit等属性为空），防止显示错位 -->
                <td th:text="${taskTO.type.ordinal() == 1 && taskTO.gradeLimit != null ? taskTO.gradeLimit : '-'}"></td>
                <td th:text="${taskTO.type.ordinal() == 1 && taskTO.ageLimit != null ? taskTO.ageLimit : '-'}"></td>
                <td th:text="${taskTO.type.ordinal() == 1 && taskTO.genderLimit != null ? taskTO.genderLimit : '-'}"></td>
                <td th:text="${taskTO.type.ordinal() == 1 && taskTO.majorLimit != null ? taskTO.majorLimit : '-'}"></td>
                <!-- 前去填写问卷的按钮，只有当当前任务为调查任务且用户未完成该任务时才显示该按钮 -->
                <td><button th:if="${taskTO.type.ordinal() == 1 && taskTO.isDone == false}" class="answerButton" th:attr="submit_uri=@{/questionnaire/ans/}+${taskTO.questionnaire.id},n1='pageNum',v1=${pageBean.pageInfo.pageNum}">前往</button></td>
                <!-- 取消任务操作的按钮，注意只有用户未完成任务时才可以放弃该任务 -->
                <td><button th:if="${taskTO.isDone == false}" class="cancelButton" th:attr="submit_uri=@{/acc_task/}+${#authentication.principal.id}+'/'+${taskTO.id}+'?pageNum='+${pageBean.pageInfo.pageNum}">放弃</button></td>
            </tr>
        </tbody>
    </table>

    <div th:include="common/common::forms"></div>

    <div th:replace="common/common::navigate-bar(${pageBean}, ${url})"></div>

    <div th:replace="common/common::foot"></div>
</body>

<div th:replace="common/common::jquery"></div>
<div th:replace="common/common::submitFormJS"></div>
</html>