h1,h2{
    text-align: center;
}
.big-box{
    height: 330px;
    width: 700px;
    margin: 0 auto;
    border: #CCCCCC 1px solid;
}
.big-box p{
    text-align: center;
    text-decoration: none;
}
.big-box div{
    display: inline-block;
    width: 33%;
    height: 330px;
    float: left;
}
.big-box .fen-ge{
    width: 1px;
    background: #CCCCCC;
}
.big-box div h3{
    text-align: center;
}
.big-box div a{
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-family: 楷体;
}