<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/common/user-info.css}">
    <link rel="stylesheet" th:href="@{/css/task/list.css}" />
    <link rel="stylesheet" th:href="@{/css/common/navigate-bar.css}" />
    <link rel="stylesheet" th:href="@{/css/common/foot.css}" />
    <title>任务列表</title>
</head>
<body>
<div th:replace="common/common::user-info"></div>

    <table class="task-list">
        <caption>
            <div th:if="${#strings.startsWith(url, 'tasks/avl')}">可接收的任务</div>
            <div th:if="${!#strings.startsWith(url, 'tasks/avl') && #strings.startsWith(url, 'tasks/')}">我发布的任务</div>
            <div th:if="${!#strings.startsWith(url, 'tasks/avl') && !#strings.startsWith(url, 'tasks/') && #strings.startsWith(url, 'tasks')}">所有任务</div>
            <a th:href="@{/task?url=}+${url}+${pageBean.pageInfo.pageNum}">+发布任务+</a>
            <div id="msg1" th:if="${#request.getParameter('msg') != null}" th:text="${#request.getParameter('msg')}"></div>
            <div id="msg2" th:if="${msg != null}" th:text="${msg}"></div>
        </caption>
        <thead>
            <tr>
                <th>序号</th>
                <th>发布者</th>
                <th>接收者</th>
                <th>标题</th>
                <th>描述</th>
                <th>报酬</th>
                <th>类型</th>
                <th>状态</th>
                <th>年级限制</th>
                <th>年龄限制</th>
                <th>性别限制</th>
                <th>专业限制</th>
                <th>修改</th>
                <th>删除</th>
                <th>查看</th>
                <th>接收</th>
                <th>完成</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task, taskStat : ${pageBean.list}">
                <td th:text="${taskStat.index + 1}"></td>
                <td><a th:text="${task.publisher.name}" th:href="@{/user/}+${task.publisher.id}"></a></td>
                <!-- 只有当该任务是普通任务且已被接收，才显示接收者 -->
                <td><a th:text="${task.type.ordinal() == 0 && task.curCount != 0 ? task.acceptors.get(0).name : '-'}" th:href="${task.type.ordinal() == 0 && task.curCount != 0} ? @{/user/}+${task.acceptors.get(0).id} : _"></a></td>
                <td th:text="${task.title}"></td>
                <td th:text="${task.description}"></td>
                <td th:text="${task.payment}"></td>
                <td th:text="${task.type}"></td>
                <!-- 对于普通任务，isDone分别为null，false，true时分别代表已发布，已接收，已完成 -->
                <!-- 对于调查任务，isAvailable为false或curCount==maxCount代表已结束，否则代表进行中 -->
                <td th:text="${task.type.ordinal() == 0 ? (task.isDone == null ? '已发布' : (task.isDone ? '已完成' : '已接收')) : (task.isAvailable && task.curCount < task.maxCount ? '进行中' : '已结束')}"></td>
                <!-- 注意，td标签不能通过th:if属性来确定要不要显示，因为td标签必须要有（即使ageLimit等属性为空），防止显示错位 -->
                <td th:text="${task.type.ordinal() == 1 && task.gradeLimit != null ? task.gradeLimit : '-'}"></td>
                <td th:text="${task.type.ordinal() == 1 && task.ageLimit != null ? task.ageLimit : '-'}"></td>
                <td th:text="${task.type.ordinal() == 1 && task.genderLimit != null ? task.genderLimit : '-'}"></td>
                <td th:text="${task.type.ordinal() == 1 && task.majorLimit != null ? task.majorLimit : '-'}"></td>
                <!-- 当前登录用户的id和该任务的发布者的id相同时且该任务未被接收时才显示修改和删除按钮，同样需要保留td标签，但td标签可以没有内容 -->
                <td><button th:if="${task.publisher.id == #authentication.principal.id && task.curCount == 0}" class="updateButton" th:attr="submit_uri=@{/task},n1='url',v1=${url}+${pageBean.pageInfo.pageNum},n2='tid',v2=${task.id}">修改</button></td>
                <td><button th:if="${task.publisher.id == #authentication.principal.id && task.curCount == 0}" class="deleteButton" th:attr="submit_uri=@{/task/}+${task.id},n1='url',v1=${url}+${pageBean.pageInfo.pageNum}">删除</button></td>
                <!-- 当前登录用户的id和该任务的发布者的id相同，且该任务是有配套的问卷的调查任务时，显示查看按钮，用于查看该问卷的回答情况 -->
                <td><button th:if="${task.publisher.id == #authentication.principal.id && task.type.ordinal() == 1 && task.questionnaire != null}" class="watchButton" th:attr="submit_uri=@{/questionnaire/res/}+${task.questionnaire.id}">查看</button></td>
                <!-- 当前登录用户的id和该任务的发布者的id不同时才显示接收按钮，同样需要保留td标签，但td标签可以没有内容 -->
                <td><button th:if="${task.publisher.id != #authentication.principal.id}" class="acceptButton" th:attr="submit_uri=@{/acc_task/}+${#authentication.principal.id}+'/'+${task.id},n1='url',v1=${url}+${pageBean.pageInfo.pageNum}">接收</button></td>
                <!-- 该任务是普通任务且当前登录用户为该任务的发布者且该任务状态为已接收时显示确认按钮 -->
                <td><button th:if="${task.type.ordinal() == 0 && task.publisher.id == #authentication.principal.id && task.isDone != null && task.isDone == false}" class="confirmButton" th:attr="submit_uri=@{/acc_task/nor/}+${task.acceptors.get(0).id}+'/'+${task.id},n1='url',v1=${url}+${pageBean.pageInfo.pageNum}">确认</button></td>
            </tr>
        </tbody>
    </table>

    <div th:include="common/common::forms"></div>

    <div th:replace="common/common::navigate-bar(${pageBean}, ${url})"></div>

    <div th:replace="common/common::foot"></div>
</body>

<div th:replace="common/common::jquery"></div>
<div th:replace="common/common::submitFormJS"></div>
</html>