<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/common/user-info.css}" />
    <link rel="stylesheet" th:href="@{/css/user/detail.css}" />
    <link rel="stylesheet" th:href="@{/css/common/foot.css}" />
    <title>详细信息</title>
</head>
<body>

<!-- 固定有的用户信息部分，位于页面的顶部 -->
<div th:replace="common/common::user-info"></div>

<div class="tip">用户详细信息</div>
<!-- 用于显示我们自定义的Controller传来的消息 -->
<div class="msg" th:if="${msg != null}" th:text="${msg}"></div>
<div class="msg" th:if="${#request.getParameter('error') != null}">提交的UID/名称/电话/邮箱在数据库中已存在，请检查您的注册信息！</div>

<!-- 表单 -->
<form method="post" id="userForm">
    <div>
        <img th:src="@{/icon/} + ${user.iconUrl}" />
    </div>
    <div>
        <span>账户类型：</span>
        <input type="text" th:value="${user.identity.ordinal() == 0 ? '学生' : '奶牛'}" readonly/>
    </div>
    <div>
        <span>UID:</span>
        <input type="number" th:value="${user.uid}" readonly />
    </div>
    <div>
        <span>用户名：</span>
        <input type="text" th:value="${user.name}" readonly />
    </div>
    <div>
        <span>闲钱币：</span>
        <input type="number" th:value="${user.spareCashCoin}" readonly />
    </div>
    <div>
        <span>电话：</span>
        <input type="number" th:value="${user.phone}" readonly />
    </div>
    <div>
        <span>邮箱：</span>
        <input type="email" th:value="${user.email}" readonly />
    </div>
    <div th:if="${user.identity.ordinal() == 0}">
        <span>年级：</span>
        <input type="text" th:value="${user.grade}" readonly />
    </div>
    <div th:if="${user.identity.ordinal() == 0}">
        <span>性别：</span>
        <input type="text" th:value="${user.gender == 0 ? '女' : '男'}" readonly />
    </div>
    <div th:if="${user.identity.ordinal() == 0}">
        <span>年龄：</span>
        <input type="number" th:value="${user.age}" readonly />
    </div>
    <div th:if="${user.identity.ordinal() == 0}">
        <span>专业：</span>
        <input type="text" th:value="${user.major}" readonly />
    </div>
</form>

<!-- 固定有的页面尾部 -->
<div th:replace="common/common::foot"></div>

</body>
</html>