<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/common/user-info.css}" />
    <link rel="stylesheet" th:href="@{/css/user/icon.css}" />
    <link rel="stylesheet" th:href="@{/css/common/foot.css}" />
    <title>登录</title>
</head>
<body>

<!-- 固定有的用户信息部分，位于页面的顶部 -->
<div th:replace="common/common::user-info"></div>

<!-- 提示信息 -->
<div class="tip">请上传您的头像</div>
<div class="small_tip">温馨提示：修改头像后将自动重新登录！</div>
<div class="small_tip">温馨提示：图片大小不能超过2MB，图片最好宽高一致！</div>

<!-- 用于显示Controller带来的信息 -->
<div class="small_tip" th:text="${msg}"></div>

<!-- 表单 -->
<form th:action="@{/user/icon}" method="post" enctype="multipart/form-data">
    <div>
        <input type="file" name="file">
    </div>
    <div>
        <input type="submit" value="上传" />
    </div>
</form>

<!-- 固定有的页面尾部 -->
<div th:replace="common/common::foot"></div>

</body>
</html>