<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/common/user-info.css}" />
    <link rel="stylesheet" th:href="@{/css/questionnaire/edit.css}" />
    <link rel="stylesheet" th:href="@{/css/common/foot.css}" />
    <title th:if="${questionnaire == null}">发布</title>
    <title th:if="${questionnaire != null}">修改</title>
</head>
<body>

<!-- 固定有的用户信息部分，位于页面的顶部 -->
<div th:replace="common/common::user-info"></div>

<div class="tip">请填写问卷信息</div>
<!-- 用于显示我们自定义的Controller传来的消息 -->
<div class="msg" th:if="${msg != null}" th:text="${msg}"></div>
<div class="msg" th:if="${#request.getParameter('error') != null}">未知错误！</div>

<!-- 表单 -->
<form method="post" id="questionnaireForm" th:action="@{/questionnaire}">
    <!-- 如果获取到了questionnaire，说明此时是修改问卷信息，应使用PUT方式提交 -->
    <input th:if="${questionnaire != null}" type="hidden" name="_method" value="put" />
    <!-- 如果获取到了questionnaire，则还需要提交该questionnaire的id -->
    <input id="id" th:if="${questionnaire != null}" type="hidden" name="id" th:value="${questionnaire.id}" />
    <!-- 如果获取到了tid，则此时是添加操作，需要把tid提交过去，这样，在添加了问卷后可以把该问卷绑定到对应的调查任务上 -->
    <input id="tid" th:if="${tid != null}" type="hidden" name="tid" th:value="${tid}" />
    <!-- 如果获取到了url（url就是点击修改按钮或部分添加按钮时浏览器地址栏中的地址），需要把它也提交过去，便于执行完操作后返回原页面 -->
    <input type="hidden" th:if="${url != null}" name="url" th:value="${url}">

    <!-- 如果是修改操作，则把该问卷的最后一个问题的编号存到这里 -->
    <input id="times" type="hidden" th:if="${questionnaire != null}" name="times" th:value="${questionnaire.questions.get(#lists.size(questionnaire.questions) - 1).num}">

    <!-- 如果获取到questionnaire，说明是修改操作，需要遍历出所有的问题数据并展示出来；否则什么也不做 -->
    <!-- 注意，th:each的优先级大于th:if，所以只能把th:if放在更外层的标签中 -->
    <div class="oldQuestions" th:if="${questionnaire != null}">
    <div class="question" th:each="question, questionStat : ${questionnaire.questions}">
        <hr>
        <label><span>题号：</span><input type='number' th:name="'questions[' + ${question.num - 1} + '].num'" readonly th:value="${question.num}" /></label>
        <label><span>类型：</span><select th:name="'questions[' + ${question.num - 1} + '].type'"><option value='0' th:selected="${question.type.ordinal() == 0}">单选题</option><option value='1' th:selected="${question.type.ordinal() == 1}">多选题</option><option value='2' th:selected="${question.type.ordinal() == 2}">问答题</option></select></label>
        <label><span>问题：</span><input type='text' th:name="'questions[' + ${question.num - 1} + '].title'" th:value="${question.title}"></label>
        <label><span>必填：</span><input type='checkbox' th:name="'questions[' + ${question.num - 1} + '].isRequired'" th:checked="${question.isRequired}"></label>
        <button class='deleteQButton' onclick='deleteButtonParent(this)' type='button'>删除</button>
        <label><span>选项1：</span><input type='text' th:name="'questions[' + ${question.num - 1} + '].options[0]'" th:value="${question.options.get(0) == null ? _ : question.options.get(0)}"></label>
        <label><span>选项2：</span><input type='text' th:name="'questions[' + ${question.num - 1} + '].options[1]'" th:value="${question.options.get(1) == null ? _ : question.options.get(1)}"></label>
        <label><span>选项3：</span><input type='text' th:name="'questions[' + ${question.num - 1} + '].options[2]'" th:value="${question.options.get(2) == null ? _ : question.options.get(2)}"></label>
        <label><span>选项4：</span><input type='text' th:name="'questions[' + ${question.num - 1} + '].options[3]'" th:value="${question.options.get(3) == null ? _ : question.options.get(3)}"></label>
        <label><span>选项5：</span><input type='text' th:name="'questions[' + ${question.num - 1} + '].options[4]'" th:value="${question.options.get(4) == null ? _ : question.options.get(4)}"></label>
        <label><span>选项6：</span><input type='text' th:name="'questions[' + ${question.num - 1} + '].options[5]'" th:value="${question.options.get(5) == null ? _ : question.options.get(5)}"></label>
        <label><span>选项7：</span><input type='text' th:name="'questions[' + ${question.num - 1} + '].options[6]'" th:value="${question.options.get(6) == null ? _ : question.options.get(6)}"></label>
        <label><span>选项8：</span><input type='text' th:name="'questions[' + ${question.num - 1} + '].options[7]'" th:value="${question.options.get(7) == null ? _ : question.options.get(7)}"></label>
    </div>
    </div>

    <div class="newQuestions">
    <!-- 表单内的按钮会默认被当成提交按钮，因此需指定其type为button -->
    <button id="addQButton" type="button">添加</button>
    <input type="submit" value="提交">
    </div>
</form>

<!-- 固定有的页面尾部 -->
<div th:replace="common/common::foot"></div>

</body>

<!-- 引入Jquery -->
<div th:replace="common/common::jquery"></div>

<!-- 提供一些函数 -->
<script>
    //用于生成填写Question信息的表单
    function addQuestionDivBeforeAddButton(num) {
        var itemName = "questions[" + num + "]";

        var prefix = "<div class='question'> "; if(num !== 0) prefix += "<hr> ";
        var suffix = "</div>";
        var numLabel = "<label><span>题号：</span><input type='number' name='" + itemName + ".num' readonly value='" + (num + 1) + "' /></label> ";
        var typeLabel = "<label><span>类型：</span><select name='" + itemName + ".type'><option value='0'>单选题</option><option value='1'>多选题</option><option value='2'>问答题</option></select></label> ";
        var titleLabel = "<label><span>问题：</span><input type='text' name='" + itemName + ".title'></label> ";
        var isRequiredLabel = "<label><span>必填：</span><input type='checkbox' name='" + itemName + ".isRequired'></label> ";
        <!-- 表单内的按钮会默认被当成提交按钮，因此需指定其type为button，另外，必须在这里注册点击事件，而不能像添加按钮一样用Jquery来注册点击事件 -->
        var deleteQButton = "<button class='deleteQButton' onclick='deleteButtonParent(this)' type='button'>删除</button> ";
        var op1Label = "<label><span>选项1：</span><input type='text' name='" + itemName + ".options[0]'></label> ";
        var op2Label = "<label><span>选项2：</span><input type='text' name='" + itemName + ".options[1]'></label> ";
        var op3Label = "<label><span>选项3：</span><input type='text' name='" + itemName + ".options[2]'></label> ";
        var op4Label = "<label><span>选项4：</span><input type='text' name='" + itemName + ".options[3]'></label> ";
        var op5Label = "<label><span>选项5：</span><input type='text' name='" + itemName + ".options[4]'></label> ";
        var op6Label = "<label><span>选项6：</span><input type='text' name='" + itemName + ".options[5]'></label> ";
        var op7Label = "<label><span>选项7：</span><input type='text' name='" + itemName + ".options[6]'></label> ";
        var op8Label = "<label><span>选项8：</span><input type='text' name='" + itemName + ".options[7]'></label> ";

        var questionDiv = prefix + numLabel + typeLabel + titleLabel + isRequiredLabel + deleteQButton + op1Label + op2Label + op3Label + op4Label + op5Label + op6Label + op7Label + op8Label + suffix;
        $("#addQButton").before(questionDiv);
    }
    //用于删除删除按钮所在的Question信息的表单
    function deleteButtonParent(deleteQButton) {
        //用$()包装一下，就能用Jquery的方式来操作该元素了
        $(deleteQButton).parent().remove();
    }
</script>

<!-- 注册添加按钮的点击事件 -->
<script>
    //如果是添加问卷，则times初始化为0
    //如果是修改问卷，则times应该是questionnaire中questions中最后一个问题的题号+1
    var times = $("#times").val();
    if(times == null)
        times = 0;
    else
        times = parseInt(times);
    $("#addQButton").click(function () {
        addQuestionDivBeforeAddButton(times);
        times ++;
    })
    //注意删除按钮不能像添加按钮这样来注册点击事件，这样做点击后不会有效果
</script>

</html>