<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/common/user-info.css}" />
    <link rel="stylesheet" th:href="@{/css/questionnaire/show.css}" />
    <link rel="stylesheet" th:href="@{/css/common/foot.css}" />
    <title>填问卷</title>
</head>
<body>

<!-- 固定有的用户信息部分，位于页面的顶部 -->
<div th:replace="common/common::user-info"></div>

<div class="tip">请填写问卷</div>
<!-- 用于显示我们自定义的Controller传来的消息 -->
<div class="msg" th:if="${msg != null}" th:text="${msg}"></div>
<div class="msg" th:if="${#request.getParameter('error') != null}">未知错误！</div>

<!-- 表单 -->
<form method="post" id="questionnaireForm" th:action="@{/questionnaire/ans/}+${questionnaire.id}">
    <!-- 把用户点击前往按钮时的页码保存下来，提交的时候需要把它也提交过去 -->
    <input type="hidden" name="pageNum" th:value="${pageNum}">

    <!-- 遍历问卷中的所有问题，把每个问题都展示出来让用户回答 -->
    <div class="question" th:each="question, questionStat : ${questionnaire.questions}" th:attr="required=${question.isRequired}">
        <hr>
        <input type="hidden" th:name="'answers[' + ${questionStat.index} + '].num'" th:value="${question.num}">
        <input type="hidden" th:name="'answers[' + ${questionStat.index} + '].type'" th:value="${question.type.ordinal()}">

        <div class="title">
            <label><span th:text="'(' + ${question.num} + ') ' + ${question.title} + '(' + ${question.isRequired ? '必填' : '可不填'} + ')'"></span></label>
        </div>
        <div class="single" th:if="${question.type.ordinal() == 0}">
            <label th:each="option, optionStat : ${question.options}" th:if="${option != null && !option.isEmpty()}">
                <input th:name="'answers[' + ${questionStat.index} + '].selectedOpts'" th:value="${optionStat.index + 1}" type="radio">
                <span th:text="${option}"></span>
            </label>
        </div>
        <div class="multi" th:if="${question.type.ordinal() == 1}">
            <label th:each="option, optionStat : ${question.options}" th:if="${option != null && !option.isEmpty()}">
                <input th:name="'answers[' + ${questionStat.index} + '].selectedOpts'" th:value="${optionStat.index + 1}" type="checkbox">
                <span th:text="${option}"></span>
            </label>
        </div>
        <div class="ask" th:if="${question.type.ordinal() == 2}">
            <label>
                <textarea th:name="'answers[' + ${questionStat.index} + '].answer'"></textarea>
            </label>
        </div>
    </div>
    <button type="button" id="submitButton">提交</button>
</form>

<!-- 固定有的页面尾部 -->
<div th:replace="common/common::foot"></div>

</body>

<!-- 引入Jquery -->
<div th:replace="common/common::jquery"></div>

<!-- 检查用户是否把必填的题目都填了 -->
<!--suppress JSUnfilteredForInLoop -->
<script>
    $("#submitButton").click(function () {
        var questions = document.getElementsByClassName("question");
        for(var i = 0; i < questions.length; i++) {
            var required = questions[i].getAttribute("required");
            if(required === null)
                continue;

            var inputs, count, opt, title, a;
            var single = questions[i].getElementsByClassName("single")[0];
            if(single !== null && single !== undefined){
                inputs = single.getElementsByTagName("input"); count = 0;
                for(a = 0; a < inputs.length; a++) {
                    if ($(inputs[a]).prop("checked") !== null && $(inputs[a]).prop("checked") !== false) {
                        count++; break;
                    }
                }
                if(count === 0) {
                    title = questions[i].getElementsByClassName("title")[0];
                    alert("请填写必填的问题：\n  " + title.getElementsByTagName("label")[0].getElementsByTagName("span")[0].innerText);
                    return;
                }
                else continue;
            }
            var multi = questions[i].getElementsByClassName("multi")[0];
            if(multi !== null && multi !== undefined){
                inputs = multi.getElementsByTagName("input"); count = 0;
                for(a = 0; a < inputs.length; a++) {
                    if ($(inputs[a]).prop("checked") !== null && $(inputs[a]).prop("checked") !== false) {
                        count++; break;
                    }
                }
                if(count === 0) {
                    title = questions[i].getElementsByClassName("title")[0];
                    alert("请填写必填的问题：\n  " + title.getElementsByTagName("label")[0].getElementsByTagName("span")[0].innerText);
                    return;
                }
                else continue;
            }
            var ask = questions[i].getElementsByClassName("ask")[0];
            if(ask !== null && ask !== undefined){
                var text = $(ask.getElementsByTagName("label")[0].getElementsByTagName("textarea")[0]).val();
                if (text === null || text === "") {
                    title = questions[i].getElementsByClassName("title")[0];
                    alert("请填写必填的问题：\n  " + title.getElementsByTagName("label")[0].getElementsByTagName("span")[0].innerText);
                    return;
                }
            }
        }
        $("#questionnaireForm").submit();
    })
</script>

</html>