<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress SqlNoDataSourceInspection -->
<mapper namespace="com.laidw.mapper.QuestionnaireMapper">
    <!-- 抽取SQL片段 -->
    <sql id="quesTableCols">
        questions, answers
    </sql>
    <sql id="quesClassAtts">
        #{questionsJSON}, #{statisticalAnswersJSON}
    </sql>
    <sql id="setQues">
        questions = #{questionsJSON},
        answers = #{statisticalAnswersJSON}
    </sql>
    <sql id="setQuesSelectively">
        <if test="questionsJSON != null">
            questions = #{questionsJSON},
        </if>
        <if test="statisticalAnswersJSON">
            answers = #{statisticalAnswersJSON},
        </if>
    </sql>


    <!-- 自定义封装方法 -->
    <resultMap id="questionnaireMap" type="com.laidw.entity.questionnaire.Questionnaire">
        <id column="id" property="id" />
        <result column="questions" property="questionsJSON" />
        <result column="answers" property="statisticalAnswersJSON" />
    </resultMap>


    <!-- 编写SQL语句 -->
    <insert id="insertQuestionnaire" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
          questionnaire(<include refid="quesTableCols" />)
        VALUES
          (<include refid="quesClassAtts" />)
    </insert>

    <delete id="deleteQuestionnaireById">
        DELETE FROM questionnaire WHERE id = #{id}
    </delete>

    <update id="updateQuestionnaireById">
        UPDATE questionnaire
        SET
          <include refid="setQues" />
        WHERE
          id = #{id}
    </update>
    <update id="updateQuestionnaireByIdSelectively">
        UPDATE questionnaire
        <set>
            <include refid="setQuesSelectively" />
        </set>
        WHERE
          id = #{id}
    </update>

    <select id="selectQuestionnaireById" resultMap="questionnaireMap">
        SELECT * FROM questionnaire WHERE id = #{id}
    </select>
    <select id="selectAllQuestionnaires" resultMap="questionnaireMap">
        SELECT * FROM questionnaire
    </select>
</mapper>