<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress SqlNoDataSourceInspection -->
<mapper namespace="com.laidw.mapper.UserMapper">
    <!-- 抽取SQL片段 -->
    <sql id="cowTableCols">
        uid, name, password, icon_url, phone, email, spare_cash, is_active, identity, verify_code
    </sql>
    <sql id="stuTableCols">
        <include refid="cowTableCols" />, grade, gender, age, major
    </sql>
    <sql id="cowClassAtts">
        #{uid}, #{name}, #{password}, #{iconUrl}, #{phone}, #{email}, #{spareCashCoin}, #{isActive}, #{identity}, #{verifyCode}
    </sql>
    <sql id="stuClassAtts">
        <include refid="cowClassAtts" />, #{grade}, #{gender}, #{age}, #{major}
    </sql>
    <sql id="setCow">
        uid = #{uid},
        name = #{name},
        password = #{password},
        icon_url = #{iconUrl},
        phone = #{phone},
        email = #{email},
        spare_cash = #{spareCashCoin},
        is_active = #{isActive},
        identity = #{identity},
        verify_code = #{verifyCode}
    </sql>
    <sql id="setStudent">
        <include refid="setCow" />,
        grade = #{grade},
        gender = #{gender},
        age = #{age},
        major = #{major}
    </sql>
    <sql id="setCowSelectively">
        <if test="uid != null">
            uid = #{uid},
        </if>
        <if test="name != null">
            name = #{name},
        </if>
        <if test="password != null">
            password = #{password},
        </if>
        <if test="iconUrl != null">
            icon_url = #{iconUrl},
        </if>
        <if test="phone != null">
            phone = #{phone},
        </if>
        <if test="email != null">
            email = #{email},
        </if>
        <if test="spareCashCoin != null">
            spare_cash = #{spareCashCoin},
        </if>
        <if test="isActive != null">
            is_active = #{isActive},
        </if>
        <if test="identity != null">
            identity = #{identity},
        </if>
        <if test="verifyCode != null">
            verify_code = #{verifyCode},
        </if>
    </sql>
    <sql id="setStudentSelectively">
        <include refid="setCowSelectively" />
        <if test="grade != null">
            grade = #{grade},
        </if>
        <if test="gender != null">
            gender = #{gender},
        </if>
        <if test="age != null">
            age = #{age},
        </if>
        <if test="major != null">
            major = #{major}
        </if>
    </sql>


    <!-- 自定义封装方法 -->
    <resultMap id="userMap" type="com.laidw.entity.user.User">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="icon_url" property="iconUrl" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="spare_cash" property="spareCashCoin" />
        <result column="is_active" property="isActive" />
        <result column="identity" property="identity" />
        <result column="verify_code" property="verifyCode" />
        <collection property="publishedTasks" column="id" select="com.laidw.mapper.TaskMapper.selectAllMyPublishedTasks" />
        <!-- 根据identity字段确定是封装成Student对象还是Cow对象 -->
        <discriminator javaType="int" column="identity">
            <case value="0" resultType="com.laidw.entity.user.Student">
                <result column="grade" property="grade" />
                <result column="gender" property="gender" />
                <result column="age" property="age" />
                <result column="major" property="major" />
                <collection property="acceptedTasks" column="id" select="com.laidw.mapper.UserAccTaskMapper.findUserAcceptedTasks" />
            </case>
            <case value="1" resultType="com.laidw.entity.user.Cow" />
        </discriminator>
    </resultMap>


    <!-- 编写SQL语句 -->
    <insert id="insertStudent" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
          user(<include refid="stuTableCols" />)
        VALUES
          (<include refid="stuClassAtts" />)
    </insert>
    <insert id="insertCow" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
          user(<include refid="cowTableCols" />)
        VALUES
          (<include refid="cowClassAtts" /> )
    </insert>

    <delete id="deleteUserById">
        DELETE FROM user WHERE id = #{id}
    </delete>

    <update id="updateStudentById">
        UPDATE user
        SET
          <include refid="setStudent" />
        WHERE
          id = #{id}
    </update>
    <update id="updateStudentByIdSelectively">
        UPDATE user
        <set>
            <include refid="setStudentSelectively" />
        </set>
        WHERE
          id = #{id}
    </update>
    <update id="updateCowById">
        UPDATE user
        SET
          <include refid="setCow" />
        WHERE
          id = #{id}
    </update>
    <update id="updateCowByIdSelectively">
        UPDATE user
        <set>
            <include refid="setCowSelectively" />
        </set>
        WHERE
          id = #{id}
    </update>
    <update id="updateSpareCashCoin">
        UPDATE user SET spare_cash = spare_cash + #{step} WHERE id = #{uid}
    </update>
    <update id="setUserIsActive">
        UPDATE user SET is_active =
        <if test="isActive == true">
            1
        </if>
        <if test="isActive == false">
            0
        </if>
        WHERE id = #{uid}
    </update>

    <select id="selectUserById" resultMap="userMap">
      SELECT * FROM user WHERE id = #{id}
    </select>
    <select id="selectUserByName" resultMap="userMap">
        SELECT * FROM user WHERE name = #{name}
    </select>
    <select id="selectUserIfExistExceptMe" resultMap="userMap">
        SELECT * FROM user
        <where>
            <if test="uid != null and uid != ''">
                AND uid = #{uid}
            </if>
            <if test="name != null and name != ''">
                AND name = #{name}
            </if>
            <if test="phone != null and phone != ''">
                AND phone = #{phone}
            </if>
            <if test="email != null and email != ''">
                AND email = #{email}
            </if>
            <if test="myId != null and myId != ''">
                AND id != #{myId}
            </if>
        </where>
    </select>
    <select id="selectUserWhoHas" resultMap="userMap">
        SELECT * FROM user
        <where>
            <choose>
                <when test="uid != null and uid != ''">
                    uid = #{uid}
                </when>
                <when test="name != null and name != ''">
                    name = #{name}
                </when>
                <when test="phone != null and phone != ''">
                    phone = #{phone}
                </when>
                <otherwise>
                    email = #{email}
                </otherwise>
            </choose>
        </where>
    </select>
    <select id="selectAllUsers" resultMap="userMap">
        SELECT * FROM user
    </select>
    <select id="selectAllActiveUsers" resultMap="userMap">
        SELECT * FROM user WHERE is_active = 1
    </select>
</mapper>