.user-info{
    height: 50px;
    background: #EEEEEE;
    text-align: right;
}
.user-info div{
    height: 50px;
    display: inline-block;
}
.user-info a{
    text-decoration: none;
}
.user-info .home{
    line-height: 50px;
    font-size: 24px;
    font-family: 楷体;
    float: left;
}
.user-info .info{
    line-height: 50px;
    font-size: 24px;
    font-family: 楷体;
    float: right;
}
.user-info .icon{
    margin-right: 10px;
}
.user-info .icon a{
    display: inline-block;
    overflow: hidden;
    height: 50px;
    width: 50px;
}
.user-info .icon a img{
    max-width: 100%;
    max-height: 100%;
}
.user-info .info form{
    display: inline-block;
}
.user-info .info input{
    height: 24px;
}