.tip{
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-family: 楷体;
    font-size: 40px;
    margin-bottom: 10px;
}
.red{
    color: red;
}
form{
    background: #EEEEEE;
}
.question{
    width: 800px;
    margin: 10px auto;
    font-size: 24px;
    font-family: 楷体;
}
.question .title{
    margin-bottom: 10px;
}
.question .single label{
    display: block;
    margin-left: 30px;
}
.question .multi label{
    display: block;
    margin-left: 30px;
}
.question div details textarea{
    margin-left: 30px;
    width: 730px;
    height: 80px;
}
form button{
    margin: 10px auto;
    display: block;
    width: 200px;
    height: 50px;
}