<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/common/user-info.css}">
    <link rel="stylesheet" th:href="@{/css/base/index.css}" />
    <link rel="stylesheet" th:href="@{/css/common/foot.css}" />
    <title>首页</title>
</head>
<body>

<!-- 固定有的用户信息部分，位于页面的顶部 -->
<div th:replace="common/common::user-info"></div>

<h1>欢迎来到挣闲钱平台</h1><hr>

<!-- 如果用户未登录，则向用户介绍本项目 -->
<h2 sec:authorize="!isAuthenticated()">关于挣闲钱平台</h2>
<div class="big-box" sec:authorize="!isAuthenticated()">
    <p>挣闲钱是大学生通过做任务挣钱的云平台</p>
    <p>它属于以运营为中心的服务软件，也可以理解为面向大学生的专业众包系统</p>
    <p>系统非常简单，其实就是一个云服务中心</p>
    <p>每个学生都装有挣闲钱客户端；一些机构，我们称为奶牛，则提供任务给平台</p>
    <p>奶牛发布任务要求与薪酬，系统则把该任务推送到客户端</p>
    <p>学生完成任务可获得系统内部的闲钱币</p>
    <p>闲钱币可用于发布任务或提现，系统不支持零元交易</p>
    <p>心动了吗？赶紧<a th:href="@{/login}">登录</a>或<a th:href="@{/user}">注册</a>来体验一下吧</p>
</div>

<!-- 如果用户登录了，则提供一些常用的链接 -->
<h2 sec:authorize="isAuthenticated()">功能导航</h2>
<div class="big-box" sec:authorize="isAuthenticated()">
    <div class="left">
        <h3>发布任务</h3>
        <a th:href="@{/task}">发布一个任务</a>
        <a th:href="@{/tasks/} + ${#authentication.principal.id}">查看我发布的任务</a>
    </div>

    <div class="fen-ge"></div>

    <div class="center">
        <h3>接收任务</h3>
        <a th:href="@{/tasks/avl}">查找可接收的任务</a>
        <a th:href="@{/acc_tasks/} + ${#authentication.principal.id}">查看我接收的任务</a>
    </div>

    <div class="fen-ge"></div>

    <div class="right">
        <h3>更多功能</h3>
        <a th:href="@{/tasks}">查看所有用户发布的任务</a>
        <a href="javascript:">敬请期待！</a>
    </div>
</div>

<!-- 固定有的页面尾部 -->
<div th:replace="common/common::foot"></div>

</body>
</html>