<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/common/user-info.css}" />
    <link rel="stylesheet" th:href="@{/css/base/login.css}" />
    <link rel="stylesheet" th:href="@{/css/common/foot.css}" />
    <title>登录</title>
</head>
<body>

<!-- 固定有的用户信息部分，位于页面的顶部 -->
<div th:replace="common/common::user-info"></div>

<div class="tip">请填写账户的登录信息</div>

<!-- 用于显示我们自定义的Controller传来的消息 -->
<div class="msg" th:if="${msg != null}" th:text="${msg}"></div>
<!-- 用于取出SpringSecurity在验证账户信息时产生的错误消息 -->
<div class="msg" th:if="${param.error}" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></div>
<!-- 用于显示一些小贴士 -->
<div class="msg">温馨提示：如果您忘记了密码，或者想激活账户，请使用找回用户信息功能！</div>

<!-- 表单 -->
<form th:action="@{/login}" method="post" id="loginForm">
    <div>
        <span>名称：</span>
        <input type="text" name="username" th:value="${user == null} ? _ : ${user.name}" />
    </div>
    <div>
        <span>密码：</span>
        <input type="password" name="password" th:value="${user == null} ? _ : ${user.password}" />
    </div>
    <div>
        <a th:href="@{/user/forget}" >找回用户信息</a>
    </div>
    <div>
        <span>记住我：</span>
        <input name="remember-me" type="checkbox"/>
    </div>
    <div>
        <input type="submit" value="登录" />
    </div>
</form>

<!-- 固定有的页面尾部 -->
<div th:replace="common/common::foot"></div>

</body>

<!-- 引入Jquery -->
<div th:replace="common/common::jquery"></div>

<!-- 如果有指定自动登录且能取到用户数据，那么在页面加载完毕后自动登录 -->
<script th:if="${auto_login != null && auto_login == true && user != null}">
    $(document).ready(function () {
        $("#loginForm").submit();
    })
</script>

</html>